.backdrop {
  width: 100%;
  min-height: 100dvh;
  background: #000000b2;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-bg {
  min-width: 300px !important;
  min-height: 100px !important;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  padding: 1.2rem;

  border-radius: 1rem;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.close-btn i {
  color: #e63946;

  font-size: 30px;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 0.5rem;
  letter-spacing: 0.025rem;

  padding-right: 30px;

  max-height: 20dvh;
  overflow: auto;
}

.modal-body {
  max-height: 60dvh;
  overflow: auto;

  padding-right: 1.2rem;
  scroll-behavior: smooth;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-track {
  display: none;
}

.modal-body::-webkit-scrollbar-thumb {
  background: linear-gradient(170deg, #ffffff 10%, #333333 82%);
  border-radius: 5px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(170deg, #ffffff 10%, #555555 82%);
  border-radius: 5px;
}

.modal-footer {
  padding: 0.5rem;
  margin-top: 0.5rem;

  max-height: 20dvh;
  overflow: auto;
}

/* Modal size */
.S,
.default,
.L,
.XL {
  max-height: 80dvh !important;
}

.S {
  width: 30dvw !important;
}

.default {
  max-width: 80dvw !important;
}

.L {
  width: 60dvw !important;
}

.XL {
  width: 80dvw !important;
}

.fullscreen {
  width: 100dvw !important;
  height: 100dvh !important;

  border-radius: 0;
}
